body{
    height:100vh;
    
}
.navigation{
    position: fixed;
    width: 100%;
    
    z-index: 5;
 
 }


.container{
    display: flex;
    
    flex-wrap: wrap ;
    justify-content: center;}
 

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    border-bottom: 2px solid;
    margin-top: 60px;
    margin-bottom: 15px;
}
.headertext{
    margin-left: 15px;
    
}
.headertext1{
    margin-top: 5px;
    font-size: 60px;
    font-weight: bold;
}



.delllogo{
    width:80px ;
    height:70px;
}





.card{position: relative;
    display: grid;
    justify-content: center;
    border-radius: 30px;
    margin: 10px;
    width: 270px;
    height: 450px;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    cursor: pointer;
    padding: 0;

}
.text1{
    font: 30px;
    font-weight: bolder;
   
}
.cardtext{
    margin-bottom: 30px;
    display: grid;
    justify-content: center;
    width: 100%;
}

.cardbutton{
    
    
    background-color: blue;
    color: white;
    font-weight: bold;
 
   
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

    border-radius: 30px ;
    border: none;
    transition: all 0.2s;
}



.cardbutton:hover{
    transform: scale(1.1);
}

.text2,
.text3,
.text4,
.text5,
.text6{
    font-size: 15px;
}
.text6{
    color: gray;
    font-weight: bolder;
    font-size: 20px;
}


.text1,

.text2,
.text3,
.text4,
.text5,
.text6{
    padding: 0;
    margin: 0;

}
.text1a{font-weight: bolder;}


p{text-align: center;
    padding: 0;
    margin: 0;
 }



.card1img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
   
   
}
.cardimgcon{
    
    border-color: grey;

    width:100%;
    height:350px ;
transition: all 0.5s;}



   @media all and (max-width:770px){

.header{
   
    width: 100%;
}


.headertext1{ 
    font-size: 30px;
}

    }




    